@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tailwind apply needs @layer */
@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    @apply bg-gray-50 font-sans text-gray-800;
  }
}
